.accordion_panel {
  &__header {
    margin-right: 10px;
    display: block;
    width: 100%;

    &__wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .hideIcon {
        margin: 0;
      }
    }
  }
}
