<section>
  <button customButton color="primary" (click)="open()">
    primary open bottom sheet
  </button>

  <button customButton color="secondary">
    secondary
  </button>

  <button customButton outline>
    outline
  </button>

  <button customButton outline>
    outline icon left
    <img src="/assets/send.svg" alt="" icon />
  </button>

  <button customButton color="primary" iconPosition="right">
    icon right
    <img src="/assets/send.svg" alt="" icon />
  </button>

  <button customButton disabled>
    disabled
  </button>
</section>
<hr />
<accordion>
  <accordion-panel>
    <h3 panel-header-title>Angular - Developer Experience</h3>
    <span accordion-panel-description
      >A meetup event for defining the future of developer experience.</span
    >
    <span class="material-icons" panel-header-icon>
      account_circle
    </span>

    <accordion-panel-content>content man</accordion-panel-content>
  </accordion-panel>

  <accordion-panel>
    <h3 panel-header-title>Angular - Developer Experience</h3>
    <span accordion-panel-description
      >A meetup event for defining the future of developer experience.</span
    >
    <span class="material-icons" panel-header-icon>
      account_circle
    </span>

    <accordion-panel-content>content man</accordion-panel-content>
  </accordion-panel>
</accordion>

<hr>

<button (click)="setvalue()">set value</button>

<form [formGroup]="form">
  <app-input-field label="Nome">
    <input type="text" formControlName="teste" id="tt" customInput (change)="formchange()" (input)="forminput()">
  </app-input-field>

  <app-input-field label="E-mail">
    <input type="text" formControlName="teste2" id="ttt" customInput (change)="formchange()" (input)="forminput()">
  </app-input-field>

  <app-input-field label="Endereço">
    <input type="text" formControlName="teste3" id="ttt" customInput (change)="formchange()" (input)="forminput()">
  </app-input-field>
</form>


<div class="div" skeleton [loading]="variable"></div>
<div class="div" skeleton loading></div>
<!-- <input type="text" customInput disabled>

<app-input-field>
  <input type="text" customInput disabled>
</app-input-field> -->
