<div
  class="accordion_panel__header__container"
  (click)="handlePanelInteraction()"
>
  <app-accordion-panel-header [expanded]="isExpanded" [hideToggle]="isHideToggle">
    <ng-container headerTitle>
      <ng-content select="[panel-header-title]"></ng-content>
    </ng-container>

    <span panelDescription>
      <ng-content select="[accordion-panel-description]"></ng-content>
    </span>

    <ng-container headerIcon>
      <ng-content select="[panel-header-icon]"></ng-content>
    </ng-container>
  </app-accordion-panel-header>
</div>

<div role="region" class="accordion_panel__body" *ngIf="isExpanded" @body>
  <ng-content select="accordion-panel-content"></ng-content>
</div>
